mkdocs-material==9.5.34
mkdocs-charts-plugin==0.0.10
mkdocs-table-reader-plugin==2.0.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-glightbox==0.3.7
mkdocs-git-revision-date-localized-plugin==1.2.6
mkdocs-pdf-export-plugin==0.5.10
mkdocs-rss-plugin==1.12.2
pillow==10.4.0
cairosvg==2.7.1
plotly==5.17.0
pandas==2.1.4
geopandas==0.14.1
folium==0.15.0
matplotlib==3.8.2
seaborn==0.13.0
